body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f0f0f0;
  line-height: 1.75;
  font-size: 1.2rem;
  overflow-x: hidden;
  color: black;
}

/* basic stling to the headers makin them match the theme of cookies */

h2 {
  font-size: 4rem;
  text-align: center;
  font-weight: 800;
  text-shadow: 4px 4px white;
}

h3 {
  font-size: 1.8rem;
  text-align: left;
  font-weight: 800;
  margin: auto;
  padding: 1.5rem;
}

/* I wanted something at the start of the website that would immediatly excite the user and who doesnt love cookies.
Because of this I have created a parallax affect that immitates falling cookies when the user scrolls. This parallex effect
was created with an animation tiimeline which allows me to control the speed at which the cookies fall. In this case I 
have made the illusion by making the small cookies fall slower and contain a lower z-index giving them the illusion they are 
in the back grounnd and vise versa for the cookies that are closer. These will fall faster and have i higher z-index. I 
believe this has created a nice affect that looks likee raining cookies. 
For this animation affect I got inspiration from Kevin Powell https://www.youtube.com/watch?v=Qj0Qx8HpNUo&t=905s */

.parallax {
  position: relative;
  z-index: 0;
  min-height: 75vh;
  display: grid;
  grid-template-areas: "stack";
}

.parallax > * {
  grid-area: stack;
  animation: parallax linear;
  animation-timeline: scroll();
}

/* I opted out of having a nav bar for this example as I wanted the user to be immersed within the "cookie rain" rather than
looking at what the nav bar contains. I have left this option here incase of any future changes */

.nav-bar,
.hero {
  --parallax-speed: 10;
  z-index: 6;
}

/* i wanted to incorporate the header within the falling cookie and have done so by putting the header in the middle
and having a cookie falling in front of the title */

.parallax-page-header {
  z-index: 4;
  --parallax-speed: 9;
  position: absolute;
  top: 30vh;
  left: 32vw;
  font-size: 8rem;
  font-weight: 800;
  text-shadow: 5px 5px #ffffff;
}

.parallax-sub-header {
  z-index: 2;
  --parallax-speed: 6;
  position: absolute;
  top: 85vh;
  left: 35vw;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 5px 5px #ffffff;
}

/* all the different cookie locations, size, parallax speed and z-index */

.parallax-dotty {
  z-index: 5;
  --parallax-speed: 23;
  position: absolute;
  width: 35vw;
  left: 35vw;
  top: -50vh;
}

.parallax-macadamia {
  z-index: 4;
  --parallax-speed: 9;
  position: absolute;
  width: 25vw;
  left: 75vw;
  top: 15vh;
}

.parallax-triplechoc {
  z-index: 3;
  --parallax-speed: 8;
  position: absolute;
  width: 22vw;
  top: 45vh;
  left: 48vw;
}

.parallax-triplechoc2 {
  z-index: 2;
  --parallax-speed: 8;
  position: absolute;
  width: 19vw;
  top: 5vh;
  left: 5vw;
}

.parallax-sour {
  z-index: 4;
  --parallax-speed: 8;
  position: absolute;
  width: 21vw;
  top: -5vh;
  left: 65vw;
}

.parallax-fig {
  z-index: 3;
  --parallax-speed: 7;
  position: absolute;
  width: 16vw;
  top: 4vh;
  left: 28vw;
}

.parallax-triplechocdotty {
  z-index: 3;
  --parallax-speed: 11;
  position: absolute;
  width: 22vw;
  top: 60vh;
  left: 13vw;
}

.parallax-chocchunk {
  z-index: 6;
  --parallax-speed: 19;
  position: absolute;
  width: 50vw;
  top: -20vh;
  left: -20vw;
}

.parallax-stickydate {
  z-index: 3;
  --parallax-speed: 4;
  position: absolute;
  width: 16vw;
  top: 55vh;
  left: 70vw;
}

.parallax-blueberry {
  z-index: 3;
  --parallax-speed: 6;
  position: absolute;
  width: 20vw;
  top: 40vh;
  left: 32vw;
}

.parallax-granola {
  z-index: 4;
  --parallax-speed: 17;
  position: absolute;
  width: 37vw;
  top: 40vh;
  left: 75vw;
}

.parallax-background {
  z-index: 1;
  --parallax-speed: 3;
  position: absolute;
  width: 100vw;
  top: -50vh;
  opacity: 0.5;
}

/* once the user has scrolled past the initial page I needed the coookies to land somewhere and thought what better way to cut them off
than using "milk" I created a shape in illustrator attempting to simulate milk mid movement. Future enhancements to the project ma include
creating splashes as the cookies fall in and moving milk, however, for noe I have kept it simple and have drawn a line immitating milk movement.*/

.parallax-milk {
  z-index: 10;
  --parallax-speed: -3;
  position: absolute;
  width: 100vw;
  top: 120vh;
}

/* gap after the history revealing a little bit more of the cookies which also allows the page to be broen up slightly */

.parallax-milk2 {
  z-index: 6;
  width: 100vw;
  top: 1000vh;
}

.parallax-milk3 {
  z-index: 6;
  width: 100vw;
}

/* allows the animation of the parallax effect */

@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallax-speed) * 200px));
  }
}

/* after the main content i needed to add in some content to fill the empty space that follows. 
In the future this section may be used as a shopping site to b cookies online using a display: grid; or a bit of information about the company.
For now I have left it with some info about the history.  */

.main-content {
  position: relative;
  z-index: 10;
  top: 138vh;
}

.history {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.history-container {
  position: relative;
  z-index: 10;
  background-color: #eceadb;
}

/* used with javascript to create the transition of the text entering the screen. It created a subtle but engaging little element to the design. */

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.4s;
}

/* bringing int the text from the left hand side */

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* used to create the staggered affect of the jars coming into frame. just another small design element that keeps the page interesting 
i got inspiration or this affect from  https://www.youtube.com/watch?v=T33NN_pPeNI */

.jars {
  display: flex;
  justify-content: space-evenly;
}

.jar {
  margin: 20px 0;
  max-width: 18vw;
}

.jar:nth-child(2) {
  transition-delay: 400ms;
}

.jar:nth-child(3) {
  transition-delay: 600ms;
}

.jar:nth-child(4) {
  transition-delay: 800ms;
}

footer {
  display: flex;
  justify-content: space-evenly;
}

.footer {
  padding: 80px 0 50px 0;
  font-size: 1.6rem;
  font-weight: 500;
}
