html {
  color-scheme: light;
}

/* setting the background image as a faded colour. setting the font and giving the entire website a margin to give it a cleaner look */

body {
  background-image: linear-gradient(
    to left bottom,
    #709bbe,
    #58a8bf,
    #50b3b4,
    #66bb9f,
    #8cbf87
  );
  background-repeat: no-repeat;
  color: white;
  margin: 0 15%;
  font-family: Arial, Helvetica, sans-serif;
}

/* organising the nav bar with links to future projects */

nav {
  background-color: transparent;
}

.navbar {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  padding: 30px 20px;
  list-style-type: none;
  font-size: 1.2rem;
}

.navbarlist {
  padding: 16px;
}

.navbarlist:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 8px;
}

a:link {
  color: white;
  text-decoration: none;
  padding: 16px;
}

a:visited {
  color: white;
  text-decoration: none;
  padding: 16px;
}

a:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 8px;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.video-container {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  position: relative;
}

video {
  width: 100%;
  display: block;
}

.outer {
  display: block;
  grid-template-columns: repeat(1, 1fr);
  background-color: transparent;
}

/* styling the progress bar so that the height is right and inline with the video */

.progress-bar {
  background-color: white;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 5px;
  min-width: auto;
  max-width: 800px;
  margin: auto;
  display: block;
  border: 1px;
}

/* creating a cool colour for the  */

.progress {
  background-color: rgb(106, 36, 141);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
}

/* controls that lie underneath the video */

.video-controls {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

/* the individual control buttons themselves. tthis is where i can change the cursor to a pointer or example */

.video-controls button {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
  transition: opacity 0.3s;
}

/* gives the effect that the hover has an effect on the button and along with the pointer tells the user this is a button */

.video-controls button:hover {
  opacity: 0.5;
}

.left-side-controls {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* giving the controls a little bit of a gap between buttons and making sure they are aligned properly */

.right-side-controls {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.slider-container {
  align-items: center;
}

/* giving the volume slider stling simailar to that of the buttons */

#volume-slider {
  appearance: none;
  width: 100px;
  height: 5px;
  margin: 0;
  color: white;
  background-color: black;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: black;
  cursor: pointer;
  border-radius: 50%;
}

.footer {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  margin: 30px 20px;
  padding-top: ;
  list-style-type: none;
  font-size: 1.2rem;
}
